@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lobster&family=Quicksand:wght@400;500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    /* font-family: 'Great Vibes', cursive; */
    /* font-family: 'Lobster', cursive; */
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    list-style: none;
    
    
}
:root{
    --main-color:#ff2c1f;
    --text-color:#ffffff;
    --bg-color:#020307;
}


body{
    background-color: var(--bg-color);
    color: var(--text-color);
    height: 2000px;
}

header{
    /* background-color: rgb(111, 111, 111); */
    position: fixed;
    /* width: 100%;
    top: 0;
    z-index: 10px; */
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    padding: 20px 30px;
    transition: 0.5s;
}

.logo{
    width: 150px;
    color: var(--text-color);    
    display: flex;
    align-items: center;
}

.logo i{
    padding-right: 5px;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
   
}

.navbar li a{
    position: relative;
    color: var(--text-color);
    font-weight: 500;
} 
.navbar a::after{
    content: "";
    width: 0%;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0px;
    transition: 0.5s;
}

.navbar .active::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0px;
}


.navbar a:hover::after{
    width: 100%;
    
}

.btn{
    background-color: var(--main-color);
    padding: 0.7rem 1.4rem ;
    color:var(--text-color);
    font-weight: 500;
    border-radius: 10px; 
    transition: 0.5s;
}

.btn:hover{
    background-color:rgb(86, 0, 0);
    color: var(--text-color);
}

.container {
    width: 100%;
    min-height: 640px;
    position: relative;
    display: flex;
    align-items: center;
    
}
.container img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.8;
    position: absolute;
    z-index: -1;
   
}
.home-text{
    padding-left: 150px;
}

.home-text span{
    color: var(--text-color);
    font-weight: 500;
    text-transform: uppercase;
}

.home-text h1{
    font-size: 4rem;
    margin-bottom: 2rem;
}

.home-text .play{
    position: absolute;
    right: 2rem;
    bottom: 10%;
    color: white;
    
}

.home-text .play i{
    
    background-color: #ff2c1f;
    font-size: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;

}

.home-text .play i:hover{
    background-color: rgb(100, 0, 0);
}

.header{
    max-width: 300px;
    margin: 3px auto;
    /* background-color: aqua; */
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: 30px;
    border-bottom: 1px solid red;
}


.box .box-img{
    width: 100%;
    height: 300px;
    transition: 0.5s;
      
}

.box .box-img:hover{
    transform:translateX(-10px) scale(1.1);
    box-shadow: 10px 5px 10px rgb(255, 0, 0);
    filter: brightness(1.2);
    
    
    /* transform: ; */
}

.movie-container{
    display: grid;
    grid-template-columns: auto auto auto auto ;
    max-width: 950px;
    margin: 0px auto;
    gap: 1.5rem;
    margin-top: 2rem;
}

.box .box-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box .box-img h3{
    margin-top: 3rem;  
}

/* contact section  */
.contact{
    max-width: 960px;
    margin: 0 auto;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.contact h2{
    align-items: center;
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}

.contact form{
    background-color:var(--text-color);
    padding: 10px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact form .email{
    border: none;
    outline: none;
    width: 250px;
    background-color: var(--text-color);
}


.contact .btn{
    text-transform: uppercase;
    font-weight: 500;
    cursor: pointer;
    border: none;
}